.red {
  color: red;
}

.header {
  width: 100%;
  background: #000;
  color: #fff;
  height: 80px;
  line-height: 40px;
  padding: 0 10px;
  background: #F7F7F7;
  border: 1px solid #DDD;
  color: #000;
  overflow: hidden;
}

.header .left {
  float: left;
}

.header .right {
  float: right;
}

* {
  padding: 0;
  margin: 0;
}

.button {
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: pink;
  color: #fff;
  border: 1px solid white;
  padding: 0 10px;
}